body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #5c5a5a;
}

h1 {
    margin: 20px;
}

h2 {
    margin: 10px;
}

ul {
   
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

li {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}

/* Responsive styles */
@media (max-width: 768px) {
    ul {
        grid-template-columns: repeat(2, 1fr);
    }
    
    li {
        padding: 10px;
    }
}

/* Add m